<div class="page page-login">
  <div class="square">
    <div class="leftSquare">
      <div class="circle">
        <img class="brand img-responsive" src="/assets/branding.png" />
      </div>
      <h2 class="title">白昼之光</h2>
      <h3 class="subtitle">当你成为光的时候，黑暗也会时不时窥探你。</h3>
    </div>
    <div class="rightSquare">
      <form id="loginform" class="login-form">
        <div class="form-group">
          <input type="text" class="form-control" id="username" placeholder="用户名">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="密码">
        </div>
        <button class="btn btn-primary btn-block btn-lg" type="submit" id="login">登陆</button>
      </form>
    </div>
  </div>
</div>
<div class="background" id="background"></div>